/*player css*/
  
body #txt_box{
	text-align:center;
	color:#6a6a6a;
}
body #big_txt1{
	font-size:25px;
}
body #big_txt2{
	font-size:16px;
}
body #player_box{
	text-align:center;
}
body #player_box button{
	border:none;
	background-color:#ffffff;
}
body #audiofile{
	display:none;
}
body #myaudio{
	width:710px;
	background-color:white;
	color:white;
	border:none;
}
body #control_box{
	margin:5px 0 0 50px;
}
#seek{
	width:625px;
}
#vol{
	width:80px;
	position:absolute;
	top: 105px;
}
#current_time{
	width:30px;
	height:20px;
	color:#7a7a7a;
	font-size:12px;
	display:inline-block;
	position:absolute;
	top: 65px;
	left: 10px;
}
#max_time{
	width:30px;
	color:#7a7a7a;
	font-size:12px;
	display:inline-block;
	position:absolute;
	top: 65px;
	right: 10px;
}