/*contact css*/

body #title_name{
	font-size:80px;
	font-weight:bold;
	position:absolute;
	/*left:450px;*/
	right:1020px;
	top:160px;
	background-color:#ffffff;
}
body #sns_box{
	position:absolute;
	top:270px;
	right:1025px;
}
body #title_name ul{
	margin:0 17px;
}
body #title_name ul li{
	list-style-type:none;
	display:inline-block;
	margin:0 -8px;
}
body #info_box{
	float:right;
	margin:90px 135px 0 0;
	width:500px;
	list-style:none;
}
body .info_title{
	color:#ff8bda;
	font-size:18px;
}
body .info_address{
	margin-top:20px;
}
body .info_address a{
	text-decoration:none;
	color:#2a2a2a;
}
body .info_pnumb{
	margin-bottom:30px;
}
body #sub_txt{
	width:468px;
	height:30px;
	margin:10px 0;
	padding:0 10px;
	background:#cacaca;
	border:none;
}
body #sub_btn{
	width:490px;
	height:35px;
	border:none;
	background:#ff8bda;
	color:#ffffff;
}
body #footer1{
	margin:150px 130px 20px 300px;
	font-size:11px;
	color:#a6a6a6;
}
body #footer1 p{
	margin:5px 0 10px 0;
}
body #sub_who{
	position:absolute;
	top:500px;
	right:1120px;
}
body #sub_who p{
	color:#ff8bda;
	margin-bottom:10px;
}
body #sub_name{
	font-size:11px;
	color:#6a6a6a;
}