/* music css */
body #music_box{
	width:720px;
	height:810px;
	border:solid 1px #3a3a3a;
	float:right;
	margin:0 130px 0 0;
	padding:20px 25px;
	background-color:#ffffff;
}
body #title_name{
	font-size:80px;
	font-weight:bold;
	position:absolute;
	/*left:450px;*/
	right:1130px;
	top:210px;
	background-color:#ffffff;
}
body #title_name ul{
	margin:0 17px;
}
body #title_name ul li{
	list-style-type:none;
	display:inline-block;
	margin:0 -8px;
}
body #litle_txt1{
	float:left;
}
body #litle_txt2{
	float:right;
}
body .litle_txt{
	font-size: 13px;
	color:#9a9a9a;
}
body #music_cover{
	width:720px;
	margin:15px 0 10px 0;
}
body #music_control{
	width:720px;
	height:162px;
}
.partitions{
	border-bottom:solid 1px #aaaaaa;
	margin:10px 10px;
}
.numb{
	float:left;
	margin-left:10px;
}
.music_name{
	margin-left:27px;
}
.mTime{
	float:right;
	margin-right:10px;
}
body #music_box a{
	display:block;
}
body #music_box a:link{
	text-decoration:none;
	color:#7a7a7a;
}
body #music_box a:visited{
	text-decoration:none;
	color:#7a7a7a;
}
body #music_box a:hover{
	text-decoration:none;
	color:#ff8bda;
}
body #music_box a:active{
	text-decoration:none;
	color:#7a7a7a;
}